.keywords {
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 10px;
    color: black;
    width: fit-content;
}

.keywords-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--card_title_color);
}

.keywords-desc {
    font-weight: 300;
    font-size: 12px;
    color: gray;
  }

.keyword-chips {
    padding-top: 10px;
}

.keywords-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.keyword-buttons {
    padding-top: 100px;
}
