.filter-card {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
}

.filter-card-top-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--card_title_color);
}

.filter-card-top-desc {
  font-weight: 300;
  font-size: 12px;
  color: gray;
}

.filter-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-top: 20px;
}

.filter-card-bottom-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 5px;
  border-radius: 10px;
}

.filter-card-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 12vw;
}

.filter-card-icon {
  align-self: flex-end;
}

.filter-card-bottom-left-number {
  font-size: 14px;
  font-weight: 600;
}

.filter-card-bottom-left-desc {
  font-weight: 300;
  font-size: 14px;
  color: gray;
}


.filter-card-reset-icon {
  align-self: center;
}