.info-card-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.transcript-meta-title {
  text-align: center;
  font-size: normal;
  font-weight: bold;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 20px;
}

.transcript-meta-stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}

.transcript-meta-pie {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.transcript-meta-stats-numbers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 0px;
  margin-bottom: 40px;
}