.sentiment-pie {
    align-items: center;
    display: flex;
    flex: 1;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
  }