.info-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.slider-bullet {
    height: 100px;
    text-align: left;
    list-style-position: outside;
}