.navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(231,228,228);
    display: flex;
    align-items: center;
    background-color: #1a237e
}

.navbar-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-items {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-title {
    font-size: 14px;
    font-weight: 500;
    color: white;
}